---
layout: newdefault
title: Projects
---
<h1>Active</h1>
<div class="ui special two cards">
 {% for page in site.pages%}
       <!--Project-->
  {% if page.categories contains "projects" and page.status == "active" %}
<!--style="background-image:url({{site.baseurl}}/images/{})"-->
<div class="pink card">
   <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <h3><a class="white" href="{{site.baseurl}}/projects/{{page.locator}}">{{page.hook}}</a></h3>
          </div>
        </div>
      </div>
      <img src="{{site.baseurl}}/images/{{page.tease}}">
   </div>
<!--  <div class="content">
      <a class="header" href="{{site.baseurl}}/team/{{page.locator}}"><span class="pink backed">{{page.title}}</span></a>
      <div class="staff meta">
        <a href="{{site.baseurl}}/team/{{page.locator}}">{{page.funder}}</a>
      </div>
    </div>-->
</div>
  {%endif%}
{% endfor %}
</div>


<script>$('.special.cards .image').dimmer({
  on: 'hover'
});</script>
