---
layout: special
featured: home
---

<div class="front">


<div class ="ui stackable three column grid middle">

<div class="column">
<a class="ui pink card" href="{{site.baseurl}}/projects/">
    <div class="image">
      <img src="{{site.baseurl}}/images/front_projects.jpg">
    </div>
    <div class="content">
<h4>We build projects with partners and donors around the world.</h4>

    </div>
</a>
</div>

<div class="column">
<a class="ui pink card" href="{{site.baseurl}}/services/">
    <div class="image">
      <img src="{{site.baseurl}}/images/front_services.jpg">
    </div>
    <div class="content">
<h4>We help organizations navigate the human side of technology.</h4>
    </div>
</a>
</div>

<div class="column">
<a class="ui pink card" href="{{site.baseurl}}/resources/">
    <div class="image">
      <img src="{{site.baseurl}}/images/front_resources.jpg">
    </div>
    <div class="content">
<h4>We develop resources and toolkits to help learning reach everyone.</h4>
    </div>
</a>
</div>

</div>
</div>

<div class="front">

<div class ="ui one column centered grid">


<div class="column">
<h2 class="home slug">Newest posts:</h2>
{%for post in site.posts%}
{% if forloop.index <= 3%}
<h2 class="post title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}{% if post.subtitle %}: {{post.subtitle}}{%endif%}</a></h1>
{%endif%}
{%endfor%}

<p class="pink right align"><a href="{{site.baseurl}}/blog">More posts &gt;&gt;</a></p>
</div>

</div>

</div>