---
layout: default
title: Team
---
<div class="ui cards">
 {% for page in site.pages%}
       <!--Team Member-->
       {% if page.categories contains "staff" %}
<!--style="background-image:url({{site.baseurl}}/images/{})"-->
<div class="card">
    <a class="image" href="{{site.baseurl}}/team/{{page.locator}}">
      <img src="{{site.baseurl}}/images/{{page.locator}}.jpg">
    </a>
    <div class="content">
      <a class="pink" href="{{site.baseurl}}/team/{{page.locator}}"><h3 class="pink">{{page.title}}</h3></a>
      <div class="staff meta">
        <a href="{{site.baseurl}}/team/{{page.locator}}">{{page.role}}</a>
      </div>
    </div>
    
    
    <div class="ui bottom attached button">
      
      @{{page.twitter}}
    </div>
  </div>
  {%endif%}
<!--/Team Member-->
{% endfor %}
</div>

<h1>Board</h1>

<div class="ui four cards">
 {% for page in site.pages%}
       <!--Team Member-->
       {% if page.categories contains "board" %}
<!--style="background-image:url({{site.baseurl}}/images/{})"-->
<div class="card">
    <a class="image" href="{{site.baseurl}}/team/{{page.locator}}">
      <img src="{{site.baseurl}}/images/{{page.locator}}.jpg">
    </a>
    <div class="content center aligned">
      <a class="pink  center aligned" href="{{site.baseurl}}/team/{{page.locator}}"><h4 class="pink">{{page.title}}</h4></a>
       <div class="staff meta center aligned">
        <a href="http://twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
      </div>
    </div>
 
  </div>
  {%endif%}
<!--/Team Member-->
{% endfor %}
</div>

