---
layout: newdefault
title: Team
---
<h1>Staff</h1>

<div class="ui three cards team">
 {% for page in site.pages%}
       {% if page.categories contains "staff" %}
<div class="card">
    <a class="image" href="{{site.baseurl}}/team/{{page.locator}}">
      <img src="{{site.baseurl}}/images/{{page.locator}}.jpg">
    </a>
    <div class="content">
      <a class="pink" href="{{site.baseurl}}/team/{{page.locator}}"><h3 class="pink">{{page.title}}</h3></a>
      <div class="staff meta">
        <a href="{{site.baseurl}}/team/{{page.locator}}">{{page.role}}</a>
      </div>
    </div>
<!--
{%if page.twitter%}
    <div class="ui bottom attached button">
<a href="http://twitter.com/{{page.twitter}}">
      @{{page.twitter}}
    </a>
    </div>
    {%endif%}
  -->
  </div>
  {%endif%}
{% endfor %}
</div>

<h1>Board of Directors</h1>

<div class="ui three cards board">
 {% for page in site.pages%}
       {% if page.categories contains "board" %}
<div class="card">
    <a class="image" href="{{site.baseurl}}/team/{{page.locator}}">
      <img src="{{site.baseurl}}/images/{{page.locator}}.jpg">
    </a>
    <div class="content center aligned">
      <a class="pink  center aligned"><h4 class="pink">{{page.title}}</h4></a>
       <!--<div class="staff meta center aligned">
        <a href="http://twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
      </div>-->
    </div>

  </div>
  {%endif%}
<!--/Team Member-->
{% endfor %}
</div>
