
<!--Main Menu-->
<div class="ui borderless main menu">
<div class="container">


<div class="ui fluid">

	<div id="mainlogo" class="logo item"><a href="{{site.baseurl}}/"><img class="ui tiny image" src="{{site.baseurl}}/images/logo.svg"></a></div> 
	<div class="ui simple dropdown item">Who We Are
		<div class="ui menu">
			    <a class="item" href="{{site.baseurl}}/about">About us</a>
       		<a class="item" href="{{site.baseurl}}/team">Meet the team</a>
        	<a class="item" href="{{site.baseurl}}/careers">Work with us</a>
        </div>
    </div>

    <div class="ui simple dropdown item">What We Do
		<div class="ui menu">
			    <a class="item" href="{{site.baseurl}}/services">Services</a>
       		<a class="item" href="{{site.baseurl}}/projects">Projects</a>
        	<a class="item" href="{{site.baseurl}}/resources">Resources</a>
        </div>
    </div>

    <a class="ui item" href="{{site.baseurl}}/blog">Blog</a>



	<!--<div class="item">
	<div class="ui breadcrumb">
  <div class="divider"> / </div>
  <a class="section">Blog</a>
  <div class="divider"> / </div>
  <div class="active section">{{page.title}}</div>
  
</div>

	</div>-->
</div>

</div>
</div>

