
<div class = "ui basic modal">

  <div class="content">
    <div class="container">
      <div class="right menu"><div class="item"><i id="menuclose" class="white fa fa-times fa-2"></i></div></div>

    <h2 class="subtitle"><span class="pink backed">SIMLab</span> </h2>
      <div class = "ui white list">
        <div class="item"><h3><a href="{{site.baseurl}}/about">About Us</a></h3></div>
        <div class="item"><h3><a href="{{site.baseurl}}/team">Who We Are</a></h3></div>
        <div class="item"><h3><a href="{{site.baseurl}}/services">Our Services</a></h3></div>
        <div class="item"><h3><a href="{{site.baseurl}}/projects">Selected Projects</a></h3></div>
        <div class="item"><h3><a href="{{site.baseurl}}/resources">Resources</a></h3></div>
        <div class="ui item"><h3><a href="{{site.baseurl}}/blog">Blog</a></h3></div>
      </div>
    </div>
  </div>
</div>
