<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
            {%include modalmenu.html%}


   <div class="topper">
    {% include header.html %}

    {% include title.html %}
    </div>
<div class="ui one column page grid" id="primary">
<div class="column">
<div class="main container">
  {{content}}

</div>
</div>
</div>
{% include footer.html %}


<script>
$('.ui.dropdown')
  .dropdown()
;
$('.ui.basic.modal')
  .modal()
;



  $("#menuholder").on("click", function(e){
    $('.ui.basic.modal').modal('show')
  })


</script>
    </body>
</html>