<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    {%include modalmenu.html%}

{%if page.image%}
   <div class="special topper" style="background-image: url({{site.baseurl}}/images/{{page.image}});'">
   <div class="smoke">
  {%else%}
<div class="topper">
{%endif%}
   {% include header.html %}

{%if page.image %}
   <div class="container">
   	<div class="topper_content">
{% if page.categories contains 'blog'%}
	{%if page.subtitle%}
  <h1 class="title">{{page.title}}</h1>
  <h2 class="white subtitle">{{page.subtitle}}</h2>
  {%else%}
  <h1 class="long title">{{page.title}}</h1>
  {%endif%}
{%else%}
  <h1 class="title">{{page.title}}</h1>
  {%if page.role%}<h2 class=""><span class="white subtitle">{{page.role}}</span></h2>{%endif%}
{%endif%}

    <!-- {% if page.author %}<h2 class="subtitle smoke">{% if page.author %} <a class="white" href="{{site.baseurl}}/team#{{name.first | downcase}}">{{ page.author }}</a> | {% endif %}{% if page.meta %}{{ page.meta }}{% endif %}{{ page.date | date: "%b %-d, %Y" }}</h2>{% endif %}-->
	</div>
   </div>
{% else %}

<div class="container">

 <h1 class="page_title blogpost branded">{{page.title}}{%if page.subtitle%}: {{page.subtitle}}{%endif%}</h1>

</div>
{% endif %}

{%if page.image %}
</div>
{%endif%}
    </div>


<div class="ui one column page grid" id="primary">
<div class="column">
<div class="main container">


  {{content}}

</div>
</div>
</div>
{% include footer.html %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>

<script src="{{ "/javascript/semantic.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascript/typeahead.bundle.min.js" | prepend: site.baseurl }}"></script>
<script>
$('.ui.basic.modal')
  .modal()
;



  $("#menuholder").on("click", function(e){
    $('.ui.basic.modal').modal('show')
  })
</script>


{%include tracking.html%}
    </body>
</html>
