<html>
  {% include head.html %}
    <body>
    {%include modalmenu.html%}
    <!--first top-->
    <div class="home special topper" style="background-image: url({{site.baseurl}}/images/testimage2.jpg);">
      <div class="smoke">
        {% include header.html %}
        <div class="container">
          <div class="home topper_content alternate">
            <h1><span class="white">We are SIMLab.</span></h1>
            <h2 class="subtitle white">We help people use technology to build equality.</h2>
            <div class="home buttons">
              <a class="ui huge inverted button" href="{{site.baseurl}}/projects">Projects</a>
              <a class="ui huge inverted button" href="{{site.baseurl}}/services">Services</a>
              <!--<a class="ui huge inverted button" href="{{site.baseurl}}/services">Resources</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    {%include footer.html %}
    {%include javascript.html%}
    {%include tracking.html%}
  </body>
</html>
