---
layout: page
---
{% assign name = page.lead | split: ' ' %}
<div class="ui list">
<div class="item"><h3>Partners: <span class="pink">{%for partner in page.partners%}{{partner}}{%if partner != page.partners.last%},{%endif%}{%endfor%}</span></h3></div>
<div class="item"><h3>Funder: <span class="pink">{{page.funder}}</span></h3></div>
<div class="item"><h3>Status: <span class="pink">{{page.status | capitalize}}</span></h3></div>
<div class="item"><h3>Project Lead: <a href="{{site.baseurl}}/team/{{name.first}}" class="pink"><span class="pink">{{page.lead}}</span></a></h3></div>
</div>

<h2>What we{%if page.status == 'active'%}'re doing{%elsif page.status == 'completed'} did{%elsif page.status == 'aspiration'%}'d like to do{%endif%}</h2>

{{content}}

{% assign haspost = 'none' %}
{%for post in site.posts%}
{%if post.project == page.locator%}
		{%if haspost == 'first'%}
			{%assign haspost = 'second'%}
		{%endif%}
		{%if haspost == 'none'%}
			{%assign haspost = 'first'%}
			<h2>Posts about this project</h2>
		{%endif%}
		<h3 class="pink"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}{% if post.subtitle %}: {{post.subtitle}}{%endif%}</a></h3>
	{%endif%}
{%endfor%}
