<!DOCTYPE html>
<html>
	{%assign feature = site.data.featured[page.featured]%}

  {% include head.html %}

    <body>

   <div class="special topper" style="background-image: url({{site.baseurl}}/images/{{feature.image}});'">
   {% include header.html %}


   <div class="container">
   	<div id="topper_content">
	<h1 class="smoke"><a class="white" href="{{site.baseurl}}{{feature.url}}">{{feature.h1}}</a></h1>
	<h2 class="subtitle smoke"><a class="white"href="{{site.baseurl}}{{feature.url}}">{{feature.h2}} &gt;&gt;</a></h2>
	</div>
   </div>
    </div>
   
<div class="ui one column page grid" id="primary">
<div class="column">
<div class="main container">
    

  {{content}}

</div>
</div>
</div>

{% include footer.html %}


<script>
$('.ui.dropdown')
  .dropdown()
;



</script>
    </body>
</html>